MONGO_SERVER_BASE_URL=@insureme.bnj4f.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
MONGO_DATABASE_USER=insureme
MONGO_DATABASE_USER_PASS=3ZIvXdNYpp6HZM9i
MONGO_DATABASE_CLUSTER=insureme
MONGO_DATABASE_DB_NAME=myFirstDatabase
